body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
  }

  p {
    font-size: 16px;
  }

  .margin {
    margin-bottom: 45px;
  }

  .bg-1 {
    background-image: url("./images/nature-bw.jpeg");
    /* Green */
    background-repeat: no-repeat;
    background-size: auto;
    color: #000000;
  }

  .bg-1 img {
    border-radius: 20px;
  }

  .bg-1 h1 {
    font-weight: 400;
    font-size: 55px;
    font-family: 'Hammersmith One', sans-serif;
  }

  .bg-2 {
    background-color: #ffffff;
    /* Dark Blue */
    color: #000000;
    margin: auto;
    padding-right: 10%;
    padding-left: 10%;
    margin-bottom: 55px;
  }

  .bg-2 h1 {
    font-family: 'Hammersmith One', sans-serif;
    font-size: 60px;
    

  }

  .bg-3 {
    background-color:#E9E6E1;
    /* White */
    color: #000000;
    padding-top: 20px;
    height: 680px;
  }

  .bg-3 h1 {
    font-family: 'Hammersmith One', sans-serif;
    font-size: 60px;
    padding-bottom: 8%;
    padding-right: 5%;
    padding-left: 5%;
    margin-top: 0px;
  }

  .bg-4 {
    background: #000000;
    /* Black Gray */
    color: #fff;

  }

  .bg-4 h1 {
    font-family: 'Hammersmith One', sans-serif;
    font-size: 55px;
  }

  .bg-5 {
    background: linear-gradient(180deg, rgba(119,117,117,1) 0%, rgba(255,254,254,1) 100%);
    height: 100%;

  }
  .bg-5 h3 {
    font-size: 24px;
    font-family: 'Hammersmith One', sans-serif;
  }

  .set-2 {
    height: 350px;
    width: 600px;
  }

  .container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  .navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
  }

  .navbar-nav li a:hover {
    color: #132743 !important;
  }

  .set-1 {
    height: 300px;
  }

  .btn-info {
    background-color: transparent;
    border-radius: 2px solid #ffffff;
    border-color: #ffffff;
    color: #ffffff;
    margin-bottom: 10px;
  }

  .btn-info:hover {
    background-color: #000000;
    color: #ffffff;
    border-color: #000000;
  }

  .btn-primary {
    background-color: #000000;
    color: #ffffff;
    border-color: #000000;
  }

  .btn-primary:hover {
    background-color: transparent;
    color: #000000;
    border-color: #000000;
  }

  .contact {
    font-weight: 800;
    font-size: 24px;
  }

  @import url("https://fonts.googleapis.com/css?family=Oswald:300,400,500,700");
  @import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800");

  .gr-1 {
    background: linear-gradient(170deg, #01E4F8 0%, #1D3EDE 100%);
  }

  .gr-2 {
    background: linear-gradient(170deg, #B4EC51 0%, #429321 100%);
  }

  .gr-3 {
    background: linear-gradient(170deg, #C86DD7 0%, #3023AE 100%);
  }

  * {
    transition: .5s;
  }

  .h-100 {
    height: 50px !important;
  }

  .align-middle {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  .column {
    margin-top: 3rem;
    padding-left: 3rem;
  }

  .column:hover {
    padding-left: 0;
  }

  .column:hover .card .txt {
    margin-left: 1rem;
  }

  .column:hover .card .txt h1,
  .column:hover .card .txt p {
    color: white;
    opacity: 1;
  }

  .column:hover a {
    color: white;
  }

  .column:hover a:after {
    width: 10%;
  }

  .card {
    min-height: 170px;
    margin: 15px;
    padding: 15px 15px;
    border: none;
    border-radius: 0;
    color: black;
    letter-spacing: .05rem;
    font-family: 'Oswald', sans-serif;
    box-shadow: 0 0 21px rgba(0, 0, 0, 0.27);

  }

  .card .txt {
    margin-left: -3rem;
    z-index: 1;
  }

  .card .txt h1 {
    font-size: 24px;
    font-weight: 300;
    text-transform: uppercase;
  }

  .card .txt p {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0rem;
    margin-top: 33px;
    opacity: 0;
    color: white;
  }

  .card a {
    z-index: 3;
    font-size: .7rem;
    color: black;
    margin-left: 1rem;
    position: relative;
    bottom: -.5rem;
    text-transform: uppercase;
  }

  .card a:after {
    content: "";
    display: inline-block;
    height: 0.5em;
    width: 0;
    margin-right: -100%;
    margin-left: 10px;
    border-top: 1px solid white;
    transition: .5s;
  }

  .card .ico-card {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .card i {
    position: relative;
    right: -50%;
    top: 60%;
    font-size: 12rem;
    line-height: 0;
    opacity: .2;
    color: white;
    z-index: 0;
  }